header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed; 
    z-index: 10;

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;

        .fundo{
            width: 30px;
            height: 30px;
            background-color: #7503A6;
            border-radius: 100%;
        }

        p{
            margin-left: -20px;
            color: white;
            font-size: 1.2rem;
        }
    }

    .links{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none;
            cursor: pointer;
            color: white;
            border-bottom: 1px solid white;
            font-size: 1rem;
        }

        .me{
            color: #D907A1;
            border: none;
            transition: all 0.5s ease;
            &:hover{
                text-shadow: 0 0 2px #D907A1;
            }
        }
    }
}