.About{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15%;

    p{
        width: 70%;
        font-size: 1.2rem;
        color: white;
        z-index: 1;
    }

    .ball1{
        position: absolute;
        left: 0;
        margin-left: 1%;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        background-image: linear-gradient(220deg, #D907A1, transparent 80%);
    }

    .ball2{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 8%;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-image: linear-gradient(220deg, #7503A6, transparent 80%);
    }
}